// node-sass --watch --output css --output-style compressed sass

// Colors
$back-color: #464d72;
$bord-color: #1a1b23;
$font-color: #9feaf9;

#console {
	width: 100%;
	height: 25px;
	position: fixed;
	bottom: 0;
	left: 0;
	background: $back-color;
	border: 0;
	border-top: 1px solid $bord-color;
	border-radius: 3px 3px 0 0;
	box-sizing: border-box;
	color: $font-color;
	font-size: 15px;
	padding: 0 5px 0 5px;
	outline: none;
}
.base {
	font-weight: bold;
	font-size: 8px;
}
table {
	width: 100%;
	margin: 5px 0;
	background-color: #f7f7f9;
	border: 1px solid #dddddd;
	border-collapse: separate;
	border-spacing: 0;
	border-left: 0;
	border-top: 0;
	border-radius: 3px;
}
th {
	background-color: #f2f2f2;
}
th, td {
	padding: 8px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}
tbody {
	border-top: 2px solid #dddddd;
}
thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
	border-radius: 3px 0 0 0;
}
thead:first-child tr:first-child th:last-child,
tbody:first-child tr:first-child td:last-child {
	border-radius: 0 3px 0 0;
}
thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
	border-radius: 0 0 0 3px;
}
thead:last-child tr:last-child th:last-child,
tbody:last-child tr:last-child td:last-child {
	border-radius: 0 0 3px 0;
}
